In [1]:
import math
import os.path
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import json
import random
import statsmodels.api as sm
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB

from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel("data.xlsx")
data.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0,...,2,0,0,8,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0,...,0,2,0,5,Southpaw,165.10,167.64,125.0,32.0,31.0
2,Tony Ferguson,Donald Cerrone,Dan Miragliotta,2019,"Chicago, Illinois, USA",Red,False,Lightweight,3,0,...,3,6,1,14,Orthodox,180.34,193.04,155.0,36.0,35.0
3,Jimmie Rivera,Petr Yan,Kevin MacDonald,2019,"Chicago, Illinois, USA",Blue,False,Bantamweight,3,0,...,1,0,0,6,Orthodox,162.56,172.72,135.0,26.0,29.0
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019,"Chicago, Illinois, USA",Blue,False,Heavyweight,3,0,...,2,0,0,3,Southpaw,187.96,190.50,264.0,32.0,26.0

### Apenas a categoria Peso-Pesados ('Heavyweights')

In [3]:
data.weight_class = data.weight_class.astype('category')
data.Winner = data.Winner.astype('category')

In [4]:
data.Winner.value_counts()

Red     3470
Blue    1591
Draw      83
Name: Winner, dtype: int64

### Blue = 0
### Red = 1

In [5]:
data_heavy = data.loc[(data.weight_class=='Heavyweight'),:]
bool_to_number = {False: 0, True: 1}
string_to_number = {'Blue': 0, 'Red': 1, 'Draw': 2}
data_heavy['title_bout'] = data_heavy['title_bout'].map(bool_to_number)
data_heavy['Winner'] = data_heavy['Winner'].map(string_to_number)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
data_heavy_util = data_heavy.drop(['Referee','date','location'], axis=1)
data_heavy_util.dropna(inplace=True)

In [7]:
data_heavy_util.head()

,R_fighter,B_fighter,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4,Tai Tuivasa,Blagoy Ivanov,0,0,Heavyweight,3,0,1,0,17.00,...,2,0,0,3,Southpaw,187.96,190.50,264.0,32.0,26.0
60,Arjan Bhullar,Juan Adams,1,0,Heavyweight,3,0,1,0,8.00,...,0,0,0,2,Orthodox,185.42,190.50,245.0,27.0,32.0
63,Greg Hardy,Dmitrii Smoliakov,1,0,Heavyweight,3,2,0,0,5.00,...,0,0,0,0,Orthodox,195.58,203.20,265.0,36.0,30.0
69,Andrei Arlovski,Augusto Sakai,0,0,Heavyweight,3,0,1,0,35.00,...,9,2,0,16,Orthodox,190.50,195.58,240.0,27.0,40.0
75,Alistair Overeem,Aleksei Oleinik,1,0,Heavyweight,5,0,2,0,4.25,...,6,0,0,9,Orthodox,193.04,203.20,265.0,41.0,38.0

In [8]:
colunas = list(data_heavy_util)

In [9]:
colunas.remove('R_fighter')
colunas.remove('B_fighter')
colunas.remove('title_bout')
colunas.remove('weight_class')
colunas.remove('no_of_rounds')
colunas.remove('B_total_rounds_fought')
colunas.remove('R_total_rounds_fought')

In [10]:
dataf = data_heavy_util.loc[:,colunas]
dataf.head()

,Winner,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,B_avg_DISTANCE_att,B_avg_DISTANCE_landed,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4,0,0,1,0,17.00,14.500,2.500,2.000,201.000,59.5,...,2,0,0,3,Southpaw,187.96,190.50,264.0,32.0,26.0
60,1,0,1,0,8.00,8.000,15.000,13.000,85.000,38.0,...,0,0,0,2,Orthodox,185.42,190.50,245.0,27.0,32.0
63,1,2,0,0,5.00,3.500,5.500,3.500,16.000,5.5,...,0,0,0,0,Orthodox,195.58,203.20,265.0,36.0,30.0
69,0,0,1,0,35.00,21.000,38.000,30.000,167.000,69.0,...,9,2,0,16,Orthodox,190.50,195.58,240.0,27.0,40.0
75,1,0,2,0,4.25,3.875,5.375,4.125,26.625,10.5,...,6,0,0,9,Orthodox,193.04,203.20,265.0,41.0,38.0

### CorrelaÃ§Ãµes

In [11]:
data_heavy_blue_winners = data_heavy.loc[(data_heavy.Winner==0),:]
data_heavy_blue_winners = data_heavy_blue_winners.drop(['Winner'], axis=1)
data_heavy_red_winners = data_heavy.loc[(data_heavy.Winner==1),:]
data_heavy_red_winners = data_heavy_red_winners.drop(['Winner'], axis=1)

In [12]:
blue_winners_correlation = data_heavy_blue_winners.corr()
blue_winners_correlation.head(2)

,date,title_bout,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,B_avg_BODY_landed,B_avg_CLINCH_att,B_avg_CLINCH_landed,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
date,1.000000,-0.161123,-0.032762,0.054294,-0.145747,NaN,0.274744,0.256441,0.154872,0.179436,...,0.231107,0.255263,-0.078268,-0.051332,0.205434,0.029779,0.010070,0.050460,0.102656,0.258130
title_bout,-0.161123,1.000000,0.491461,-0.137166,0.345926,NaN,0.000122,0.002365,0.059811,0.056089,...,0.198632,0.182796,0.064792,-0.056728,0.181773,-0.018567,0.100335,-0.185558,0.014377,-0.040564

### Aplicando filtros

In [34]:
filtros = ['R_fighter','B_fighter','Winner','weight_class','title_bout','R_wins','R_losses','B_wins','B_losses',
           'B_Reach_cms','B_Height_cms','B_Weight_lbs','R_Reach_cms','R_Height_cms','R_Weight_lbs','R_Stance','B_Stance']

In [35]:
data_heavy_filtered = data_heavy_util.loc[:,filtros]

In [36]:
data_heavy_filtered.head()

,R_fighter,B_fighter,Winner,weight_class,title_bout,R_wins,R_losses,B_wins,B_losses,B_Reach_cms,B_Height_cms,B_Weight_lbs,R_Reach_cms,R_Height_cms,R_Weight_lbs,R_Stance,B_Stance
4,Tai Tuivasa,Blagoy Ivanov,0,Heavyweight,0,3,1,1,1,185.42,180.34,250.0,190.50,187.96,264.0,Southpaw,Southpaw
60,Arjan Bhullar,Juan Adams,1,Heavyweight,0,2,1,1,0,203.20,195.58,265.0,190.50,185.42,245.0,Orthodox,Orthodox
63,Greg Hardy,Dmitrii Smoliakov,1,Heavyweight,0,0,1,0,2,187.96,187.96,253.0,203.20,195.58,265.0,Orthodox,Switch
69,Andrei Arlovski,Augusto Sakai,0,Heavyweight,0,16,12,1,0,195.58,190.50,265.0,195.58,190.50,240.0,Orthodox,Orthodox
75,Alistair Overeem,Aleksei Oleinik,1,Heavyweight,0,9,6,6,2,203.20,187.96,240.0,203.20,193.04,265.0,Orthodox,Orthodox

In [38]:
data_heavy_filtered.columns

Index(['R_fighter', 'B_fighter', 'Winner', 'weight_class', 'title_bout',
       'R_wins', 'R_losses', 'B_wins', 'B_losses', 'B_Reach_cms',
       'B_Height_cms', 'B_Weight_lbs', 'R_Reach_cms', 'R_Height_cms',
       'R_Weight_lbs', 'R_Stance', 'B_Stance'],
      dtype='object')

### Modelo inicial

Separando em categÃ³ricos

In [39]:
categoricas = [
    'R_fighter', 
    'B_fighter', 
    'weight_class', 
    'R_Stance', 
    'B_Stance', 
]

data_heavy_cat = data_heavy_filtered[categoricas].astype('category')
data_heavy_num = data_heavy_filtered.drop(categoricas, axis=1).astype('float')

In [40]:
X = data_heavy_num.drop('Winner', axis=1)
y = data_heavy_num['Winner']

Separando os dados em testes e treinamento

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [56]:
model = RandomForestClassifier(n_estimators=10000)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [57]:
y_pred = model.predict(X_test)

In [58]:
print(accuracy_score(y_test, y_pred))

0.6212121212121212

In [59]:
#Fatores que tem o maior peso na decisÃ£o da vitÃ³ria
j=1
lista_j=list()
for i, f in sorted(list(zip(model.feature_importances_, X_train.columns)), reverse=True):
    print( j,'Â°:',f'{f}: {i}')
    a=str(j)+'Â°'
    lista_j.append(a)
    j+=1

1 Â°: B_Weight_lbs: 0.12532497056149847
2 Â°: R_wins: 0.11415743710376716
3 Â°: R_losses: 0.11336263158226355
4 Â°: B_Reach_cms: 0.10825237413003069
5 Â°: B_wins: 0.09764476160139501
6 Â°: R_Weight_lbs: 0.09502273839504065
7 Â°: R_Reach_cms: 0.09485119383730312
8 Â°: B_Height_cms: 0.09317479875554587
9 Â°: R_Height_cms: 0.07431958651511453
10 Â°: B_losses: 0.06970439920514275
11 Â°: title_bout: 0.014185108312899208

In [60]:
data={'Fator':X_train.columns ,'CorrelaÃ§Ã£o':model.feature_importances_,}
Fator_por_corr=pd.DataFrame(data)
Fator_por_corr=Fator_por_corr.sort_values(by='CorrelaÃ§Ã£o', ascending=False)
Fator_por_corr['Grau de ImportÃ¢ncia']=lista_j
Fator_por_corr = Fator_por_corr.set_index('Grau de ImportÃ¢ncia')
Fator_por_corr.head()

                            Fator  CorrelaÃ§Ã£o
Grau de ImportÃ¢ncia
1Â°                   B_Weight_lbs    0.125325
2Â°                         R_wins    0.114157
3Â°                       R_losses    0.113363
4Â°                    B_Reach_cms    0.108252
5Â°                         B_wins    0.097645

In [61]:
def relevancia(df,coluna_nome,coluna_correlacao,acuracia):
    inuteis = []
    uteis = []
    for index,row in df.iterrows():
        if row[coluna_correlacao] >= -acuracia and row[coluna_correlacao] <= acuracia:
            inuteis.append(row[coluna_nome])
        else:
            uteis.append(row[coluna_nome])
    return uteis

In [81]:
essenciais = 'R_fighter','B_fighter','Winner'

In [82]:
uteis = relevancia(Fator_por_corr,'Fator','CorrelaÃ§Ã£o',0.01)
uteis.append(essenciais)

In [83]:
data_heavy_util_relevante = data_heavy_util.loc[:,uteis]

ValueError: Location based indexing can only have [labels (MUST BE IN THE INDEX), slices of labels (BOTH endpoints included! Can be slices of integers if the index is integers), listlike of labels, boolean] types

In [84]:
data_heavy_util_relevante

,B_Weight_lbs,R_wins,R_losses,B_Reach_cms,B_wins,R_Weight_lbs,R_Reach_cms,B_Height_cms,R_Height_cms,B_losses,title_bout,Winner
4,250.0,3,1,185.42,1,264.0,190.50,180.34,187.96,1,0,0
60,265.0,2,1,203.20,1,245.0,190.50,195.58,185.42,0,0,1
63,253.0,0,1,187.96,0,265.0,203.20,187.96,195.58,2,0,1
69,265.0,16,12,195.58,1,240.0,195.58,190.50,190.50,0,0,0
75,240.0,9,6,203.20,6,265.0,203.20,187.96,193.04,2,0,1
77,249.0,0,1,190.50,1,257.0,213.36,190.50,190.50,2,0,1
83,235.0,4,3,193.04,4,249.0,198.12,190.50,190.50,2,0,0
113,264.0,5,3,198.12,4,265.0,203.20,185.42,193.04,0,0,1
136,238.0,12,4,195.58,14,260.0,200.66,193.04,190.50,4,0,0
139,265.0,0,1,198.12,6,250.0,185.42,193.04,180.34,4,0,1
162,253.0,12,9,190.50,5,265.0,213.36,185.42,210.82,3,0,1
174,240.0,7,2,195.58,12,250.0,210.82,185.42,193.04,2,0,1
228,250.0,16,11,195.58,4,240.0,195.58,195.58,190.50,6,0,2
261,264.0,13,4,190.50,3,238.0,195.58,187.96,193.04,0,0,1
263,264.0,8,9,198.12,3,265.0,182.88,185.42,177.80,0,0,0
286,250.0,5,2,210.82,6,265.0,203.20,193.04,193.04,2,0,0
322,260.0,10,2,200.66,12,235.0,182.88,190.50,180.34,3,1,1
333,253.0,2,0,190.50,4,250.0,205.74,185.42,195.58,3,0,0
345,249.0,1,1,190.50,1,245.0,190.50,190.50,185.42,1,0,1
350,250.0,11,3,203.20,4,260.0,200.66,200.66,190.50,0,0,1
373,240.0,8,8,203.20,5,265.0,182.88,187.96,177.80,2,0,0
375,235.0,16,10,193.04,3,240.0,195.58,190.50,190.50,2,0,0
439,265.0,3,3,213.36,12,249.0,198.12,210.82,190.50,8,0,1
462,235.0,12,2,182.88,9,240.0,203.20,180.34,193.04,2,1,0
463,260.0,6,1,200.66,10,250.0,210.82,190.50,193.04,3,0,0
501,264.0,16,9,190.50,2,240.0,195.58,187.96,190.50,0,0,0
503,265.0,8,5,203.20,4,265.0,203.20,193.04,193.04,2,0,0
506,250.0,0,2,203.20,0,205.0,193.04,190.50,180.34,2,0,0
513,245.0,3,6,208.28,1,250.0,195.58,200.66,195.58,1,0,1
553,264.0,4,2,187.96,1,240.0,203.20,190.50,187.96,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4113,240.0,9,3,195.58,2,264.0,200.66,190.50,190.50,0,1,1
4141,230.0,1,1,187.96,3,225.0,185.42,187.96,185.42,2,0,1
4142,205.0,1,1,190.50,13,265.0,205.74,185.42,190.50,5,1,1
4192,250.0,0,1,198.12,2,265.0,205.74,193.04,190.50,2,0,1
4204,205.0,1,0,193.04,3,240.0,195.58,190.50,185.42,1,0,1
4217,225.0,4,2,185.42,1,242.0,193.04,185.42,187.96,0,0,1
4235,230.0,1,1,193.04,4,231.0,195.58,190.50,193.04,1,0,1
4241,230.0,2,2,187.96,3,245.0,198.12,187.96,193.04,1,0,1
4277,240.0,1,2,208.28,4,250.0,198.12,193.04,193.04,1,0,1
4281,205.0,9,4,193.04,3,240.0,195.58,190.50,190.50,0,0,1
4286,265.0,1,0,203.20,9,240.0,195.58,203.20,190.50,3,1,1
4305,242.0,0,1,193.04,4,231.0,195.58,187.96,193.04,1,0,1
4342,230.0,8,3,193.04,4,265.0,203.20,190.50,203.20,0,0,1
4370,230.0,3,1,185.42,1,240.0,208.28,187.96,193.04,1,0,1
4377,242.0,12,5,193.04,4,205.0,190.50,187.96,185.42,0,1,1
4383,245.0,7,3,198.12,1,264.0,200.66,193.04,190.50,1,0,1
4430,230.0,3,0,185.42,1,242.0,193.04,187.96,187.96,0,0,1
4458,265.0,11,5,203.20,8,205.0,190.50,203.20,185.42,2,1,1
4490,205.0,2,0,185.42,1,242.0,193.04,182.88,187.96,0,0,1
4492,205.0,0,1,190.50,0,234.0,195.58,190.50,187.96,1,0,1
4503,247.0,7,2,187.96,4,265.0,203.20,175.26,203.20,2,1,1
4505,264.0,3,0,200.66,7,230.0,193.04,190.50,190.50,2,0,1
4563,240.0,6,2,195.58,7,265.0,203.20,190.50,203.20,3,1,1
4599,240.0,5,2,195.58,7,265.0,203.20,190.50,203.20,2,1,1
4657,245.0,6,2,195.58,2,240.0,195.58,187.96,190.50,0,1,1
4715,265.0,4,2,203.20,3,240.0,195.58,203.20,190.50,1,1,1
4739,265.0,5,1,203.20,3,264.0,200.66,203.20,190.50,0,1,1
4770,205.0,2,2,187.96,3,240.0,195.58,182.88,190.50,1,0,1
4839,205.0,3,1,190.50,7,250.0,198.12,185.42,190.50,0,1,1
5008,185.0,2,0,187.96,3,205.0,190.50,182.88,185.42,0,0,1