# Projeto 3 - Ciência dos Dados

#  Projeto UFC

Nome: Victor Vergara Arcoverde de Albuquerque Cavalcanti

Nome: Edgard Neto

Nome: Gabriel Yamashita

Nome: Henrique Mualem Marti

  ___
## Objetivo:

### O objetivo desse projeto é fazer um machine learning para poder prever qual lutador ganhará uma luta do UFC baseado no seu histórico. Para isso serão usados os dados de todas as lutas do UFC (mais de 5 mil) a fim de descobrir quais os fatores dos lutadores que impactam mais no resultado das lutas.

[Database utilizado](https://www.kaggle.com/rajeevw/ufcdata#data.csv)

____
## Método escolhido:

### Random Forest:
# ESPLICAR CADA UM

### Regressão Logística:

 ___
## Preparando o ambiente no jupyter:

___
### Imports:

In [247]:
import math
import os.path
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import json
import random
import statsmodels.api as sm
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB

from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

___
### Trabalhando com os Excels:

In [272]:
data = pd.read_excel("data.xlsx")
preproc = pd.read_excel("preprocessed_data.xlsx")
fighter = pd.read_excel("raw_fighter_details.xlsx")
total = pd.read_excel("raw_total_fight_data.xlsx")
data2 = data
data.head(2)

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Henry Cejudo,Marlon Moraes,Marc Goddard,2019,"Chicago, Illinois, USA",Red,True,Bantamweight,5,0,...,2,0,0,8,Orthodox,162.56,162.56,135.0,31.0,32.0
1,Valentina Shevchenko,Jessica Eye,Robert Madrigal,2019,"Chicago, Illinois, USA",Red,True,Women's Flyweight,5,0,...,0,2,0,5,Southpaw,165.10,167.64,125.0,32.0,31.0

In [274]:
data.weight_class = data.weight_class.astype('category')
data.Winner = data.Winner.astype('category')

In [275]:
data.Winner.value_counts()

Red     3470
Blue    1591
Draw      83
Name: Winner, dtype: int64

In [251]:
data_heavy = data.loc[(data.weight_class=='Heavyweight'),:]
bool_to_number = {False: 0, True: 1}
string_to_number = {'Blue': 0, 'Red': 1, 'Draw': 2}
data_heavy['title_bout'] = data_heavy['title_bout'].map(bool_to_number)
data_heavy['Winner'] = data_heavy['Winner'].map(string_to_number)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

#### Blue = 0
#### Red = 1

In [252]:
data_heavy.head(2)

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4,Tai Tuivasa,Blagoy Ivanov,Dan Miragliotta,2019,"Chicago, Illinois, USA",0,0,Heavyweight,3,0,...,2,0,0,3,Southpaw,187.96,190.50,264.0,32.0,26.0
54,Walt Harris,Serghei Spivac,Jerin Valel,2019,"Ottawa, Ontario, Canada",1,0,Heavyweight,3,0,...,4,0,0,4,Southpaw,195.58,195.58,250.0,24.0,35.0

In [253]:
data_heavy_util = data_heavy.drop(['Referee','date','location'], axis=1)
#dados que não se relacionam com os lutadores ou seus resultado

In [254]:
data_heavy_util.head(2)

,R_fighter,B_fighter,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4,Tai Tuivasa,Blagoy Ivanov,0,0,Heavyweight,3,0,1,0,17.0,...,2,0,0,3,Southpaw,187.96,190.50,264.0,32.0,26.0
54,Walt Harris,Serghei Spivac,1,0,Heavyweight,3,0,0,0,NaN,...,4,0,0,4,Southpaw,195.58,195.58,250.0,24.0,35.0

In [255]:
data_heavy_util.dropna(inplace=True)
data_heavy_util.head(2)

,R_fighter,B_fighter,Winner,title_bout,weight_class,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_BODY_att,...,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
4,Tai Tuivasa,Blagoy Ivanov,0,0,Heavyweight,3,0,1,0,17.0,...,2,0,0,3,Southpaw,187.96,190.5,264.0,32.0,26.0
60,Arjan Bhullar,Juan Adams,1,0,Heavyweight,3,0,1,0,8.0,...,0,0,0,2,Orthodox,185.42,190.5,245.0,27.0,32.0

___
### Tirando os dados categóricos:

In [256]:
categoricas = [
    'R_fighter', 
    'B_fighter', 
    'weight_class', 
    'R_Stance', 
    'B_Stance', 
]

data_heavy_cat = data_heavy_util[categoricas].astype('category')
data_heavy_num = data_heavy_util.drop(categoricas, axis=1).astype('float')

## Teste temporário   ARRUMAR DEPOIS

In [257]:
teste_x=data_heavy_num.loc[:,['B_current_lose_streak','B_current_win_streak','R_current_lose_streak','R_current_win_streak']]
teste_y=data_heavy_num['Winner']

In [258]:
X_Train, X_Test, y_Train, y_Test = train_test_split(teste_x, teste_y, test_size=0.25)
model = RandomForestClassifier(n_estimators=10000)

model.fit(X_Train, y_Train)
y_Pred = model.predict(X_Test)

print(accuracy_score(y_Test, y_Pred))

0.6818181818181818

___
# Teste 1 - Random Forest

In [276]:
X = data_heavy_num.drop('Winner', axis=1)
y = data_heavy_num['Winner']

## Separando os dados em testes e treinamento

In [277]:
X_train_random, X_test_random, y_train_random, y_test_random = train_test_split(X, y, test_size=0.25)

___
## Montando modelo Random Forest

In [278]:
model_random = RandomForestClassifier(n_estimators=10000)

model_random.fit(X_train_random, y_train_random)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

___
## Verificando a performance

In [279]:
X_train_random.columns

Index(['title_bout', 'no_of_rounds', 'B_current_lose_streak',
       'B_current_win_streak', 'B_draw', 'B_avg_BODY_att', 'B_avg_BODY_landed',
       'B_avg_CLINCH_att', 'B_avg_CLINCH_landed', 'B_avg_DISTANCE_att',
       ...
       'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Height_cms', 'R_Reach_cms',
       'R_Weight_lbs', 'B_age', 'R_age'],
      dtype='object', length=136)

In [280]:
model_random.feature_importances_

array([0.00039858, 0.00109252, 0.00191712, 0.00380583, 0.        ,
       0.02469296, 0.02187625, 0.00919552, 0.00955146, 0.01042005,
       0.00904849, 0.00859086, 0.00798474, 0.01162293, 0.01093133,
       0.00526104, 0.00904463, 0.00780882, 0.00683675, 0.00617193,
       0.01199975, 0.01103503, 0.00843265, 0.00607374, 0.01183814,
       0.00566785, 0.00872406, 0.01061377, 0.00910422, 0.00462285,
       0.00395032, 0.00771737, 0.00817638, 0.00808217, 0.00723945,
       0.00851092, 0.00731896, 0.0104615 , 0.00992341, 0.00906625,
       0.00856003, 0.00619545, 0.01015016, 0.00854731, 0.00753945,
       0.00372448, 0.00768816, 0.00687279, 0.01191989, 0.00417461,
       0.01036044, 0.00810192, 0.00786093, 0.00952511, 0.0117437 ,
       0.00760159, 0.00880495, 0.00193672, 0.0004282 , 0.00128265,
       0.00240586, 0.00457102, 0.00247608, 0.00026567, 0.00444056,
       0.00796019, 0.01011957, 0.00887855, 0.00211968, 0.00538634,
       0.        , 0.00936087, 0.00804444, 0.00840456, 0.00886825,
       0.00872042, 0.00850889, 0.0100096 , 0.01058454, 0.01014522,
       0.00917414, 0.00660776, 0.00716311, 0.00632201, 0.00602401,
       0.00449017, 0.0107667 , 0.00789279, 0.00903683, 0.0047103 ,
       0.00874562, 0.00730278, 0.00675438, 0.01029141, 0.00766526,
       0.00393302, 0.00674995, 0.00781894, 0.00713556, 0.01166007,
       0.0096369 , 0.00757624, 0.00852056, 0.00964346, 0.00878575,
       0.00813008, 0.00958755, 0.00904919, 0.00819197, 0.00776717,
       0.00654619, 0.00353082, 0.00721699, 0.00858719, 0.00774307,
       0.00554577, 0.00759237, 0.00561027, 0.00566445, 0.00795366,
       0.01175808, 0.00755334, 0.00728166, 0.00196832, 0.00083203,
       0.00067833, 0.0024075 , 0.00666035, 0.00300205, 0.00090039,
       0.00568406, 0.00548609, 0.00970919, 0.00446307, 0.00770268,
       0.01168895])

In [281]:
y_pred_random = model_random.predict(X_test_random)

In [282]:
print(accuracy_score(y_test_random, y_pred_random))

0.6212121212121212

In [283]:
y_pred_random

array([1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1.,
       1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [284]:
y_test_random.value_counts(True)

1.0    0.606061
0.0    0.363636
2.0    0.030303
Name: Winner, dtype: float64

In [285]:
data_heavy_num.Winner.value_counts()

1.0    167
0.0     92
2.0      5
Name: Winner, dtype: int64

   ___
## Conclusão do Modelo inicial Random Forest:

Tendo um acurácia de 0.6667 não é um bom resultado, visto que o modelo praticamente sempre tem como resultado o vermelho como vencedor, e como a probabilidade do lutador vermelho ganhar é de 0.6212112 ele praticamente só acerta os que o vencedor é o vermelho e erra os que o azul é o vencedor.

Assim é possível concluir que é necessário desconsiderar algumas variáveis para melhorar a acurácia.

   ___
## Criando um dataframe dos fatores mais impactantes no resultado segundo o teste acima:

In [312]:
#Fatores que tem o maior peso na decisão da vitória
j=1
lista_j=list()
for i, f in sorted(list(zip(model_random.feature_importances_, X_train_random.columns)), reverse=True):
    a=str(j)+'°'
    lista_j.append(a)
    j+=1

In [315]:
data={'Fator':X_train_random.columns ,'Correlação':model_random.feature_importances_,}
Fator_por_corr=pd.DataFrame(data)
Fator_por_corr=Fator_por_corr.sort_values(by='Correlação', ascending=False)
Fator_por_corr['Grau de Importância']=lista_j
Fator_por_corr = Fator_por_corr.set_index('Grau de Importância')
Fator_por_corr.head(2)

                                 Fator  Correlação
Grau de Importância
1°                      B_avg_BODY_att    0.024693
2°                   B_avg_BODY_landed    0.021876

In [288]:
data_heavy_util_relevante = data_heavy_util.loc[:,uteis]
data_heavy_util_relevante.head(2)

,Winner,R_losses,R_age,R_total_rounds_fought,B_avg_BODY_att,B_avg_HEAD_landed,B_avg_BODY_landed,B_avg_SIG_STR_landed,B_Weight_lbs,B_avg_opp_GROUND_att,...,B_avg_TOTAL_STR_att,B_avg_opp_GROUND_landed,B_avg_SIG_STR_att,R_avg_BODY_landed,R_win_by_KO/TKO,R_avg_TD_att,R_avg_opp_SIG_STR_pct,R_avg_opp_CLINCH_landed,R_avg_TD_pct,B_avg_opp_TD_att
4,0,1,26.0,7,17.0,45.0,14.5,61.5,250.0,0.0,...,204.0,0.0,203.5,6.750000,2,0.5,0.397500,3.500000,0.00,0.5
60,1,1,32.0,8,8.0,74.0,8.0,86.0,265.0,2.0,...,180.0,2.0,144.0,1.666667,0,2.0,0.416667,5.333333,0.72,2.0

   ___
## Escolhendo quais dados devem ser usados nos modelos de predição:

In [289]:
def relevancia(df,coluna_nome,coluna_correlacao,acuracia):
    inuteis = []
    uteis = ['Winner']
    for index,row in df.iterrows():
        if row[coluna_correlacao] >= -acuracia and row[coluna_correlacao] <= acuracia:
            inuteis.append(row[coluna_nome])
        else:
            uteis.append(row[coluna_nome])
    return uteis

In [290]:
uteis = relevancia(Fator_por_corr,'Fator','Correlação',0.01)

In [291]:
data_heavy_util_relevante = data_heavy_util.loc[:,uteis]
data_heavy_util_relevante.head()

,Winner,R_losses,R_age,R_total_rounds_fought,B_avg_BODY_att,B_avg_HEAD_landed,B_avg_BODY_landed,B_avg_SIG_STR_landed,B_Weight_lbs,B_avg_opp_GROUND_att,...,B_avg_TOTAL_STR_att,B_avg_opp_GROUND_landed,B_avg_SIG_STR_att,R_avg_BODY_landed,R_win_by_KO/TKO,R_avg_TD_att,R_avg_opp_SIG_STR_pct,R_avg_opp_CLINCH_landed,R_avg_TD_pct,B_avg_opp_TD_att
4,0,1,26.0,7,17.00,45.0,14.500,61.50,250.0,0.000,...,204.00,0.00,203.50,6.750000,2,0.500000,0.397500,3.500000,0.000000,0.500
60,1,1,32.0,8,8.00,74.0,8.000,86.00,265.0,2.000,...,180.00,2.00,144.00,1.666667,0,2.000000,0.416667,5.333333,0.720000,2.000
63,1,1,30.0,2,5.00,5.0,3.500,9.50,253.0,28.500,...,65.00,14.50,22.00,5.000000,0,0.000000,0.400000,1.000000,0.000000,4.000
69,0,12,40.0,59,35.00,81.0,21.000,111.00,265.0,0.000,...,233.00,0.00,218.00,4.571429,9,0.892857,0.389286,3.035714,0.128571,0.000
75,1,6,38.0,29,4.25,11.5,3.875,17.25,240.0,3.625,...,58.25,2.75,35.25,11.533333,6,0.866667,0.437333,4.200000,0.200000,1.125

___
# Teste 2- Regressão Logística

___
## Montando a Regressão Logística

## !Ainda é necessário tirar os fatores que foram julgados ter um baixo grau de importância pelo teste anterior!

In [292]:
def preparo(X,Y):
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp,missing='drop')
    results = model.fit()
    return results

In [293]:
Y_log = data_heavy_util_relevante["Winner"]
data_heavy_sem_Winner=data_heavy_util_relevante.drop('Winner',axis=1) 
X_log=data_heavy_sem_Winner
#np.asarray(X)

In [294]:
X_train_log, X_test_log, y_train_log, y_test_log = train_test_split(X_log, Y_log, test_size=0.25)

In [295]:
model = LogisticRegression(max_iter=200000,solver='lbfgs', multi_class='auto')

model.fit(X_train_log, y_train_log)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=200000, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [296]:
y_pred_log = model.predict(X_test_log)

In [297]:
print(accuracy_score(y_test_log, y_pred_log))

0.5

In [298]:
y_pred_log

array([1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0],
      dtype=int64)

In [299]:
y_test_log.value_counts(True)

1    0.545455
0    0.439394
2    0.015152
Name: Winner, dtype: float64

In [300]:
data_heavy_util_relevante.Winner.value_counts()

1    167
0     92
2      5
Name: Winner, dtype: int64

In [301]:
result = preparo(X_log,Y_log)
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Winner   R-squared:                       0.093
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     1.073
Date:                Tue, 19 Nov 2019   Prob (F-statistic):              0.377
Time:                        13:11:47   Log-Likelihood:                -183.27
No. Observations:                 264   AIC:                             414.5
Df Residuals:                     240   BIC:                             500.4
Df Model:                          23
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       1.8179      0.591      3.074      0.002       0.653       2.983
R_losses                   -0.0267      0.030     -0.889      0.375      -0.086       0.033
R_age                      -0.0087      0.009     -0.966      0.335      -0.026       0.009
R_total_rounds_fought       0.0049      0.008      0.593      0.554      -0.011       0.021
B_avg_BODY_att              0.0050      0.062      0.081      0.935      -0.117       0.127
B_avg_HEAD_landed          -0.0018      0.062     -0.029      0.977      -0.125       0.121
B_avg_BODY_landed          -0.0303      0.076     -0.401      0.689      -0.179       0.119
B_avg_SIG_STR_landed        0.0167      0.065      0.257      0.797      -0.111       0.145
B_Weight_lbs               -0.0025      0.002     -1.177      0.240      -0.007       0.002
B_avg_opp_GROUND_att       -0.0038      0.017     -0.216      0.829      -0.038       0.031
B_avg_TOTAL_STR_landed     -0.0096      0.021     -0.450      0.653      -0.051       0.032
B_avg_HEAD_att             -0.0052      0.051     -0.103      0.918      -0.105       0.094
R_avg_TD_landed            -0.0266      0.114     -0.234      0.815      -0.250       0.197
R_avg_BODY_att             -0.0019      0.031     -0.061      0.952      -0.063       0.059
B_avg_TOTAL_STR_att         0.0070      0.019      0.375      0.708      -0.030       0.044
B_avg_opp_GROUND_landed     0.0098      0.025      0.385      0.701      -0.040       0.060
B_avg_SIG_STR_att          -0.0057      0.053     -0.107      0.915      -0.110       0.099
R_avg_BODY_landed          -0.0033      0.037     -0.089      0.929      -0.077       0.070
R_win_by_KO/TKO            -0.0059      0.023     -0.260      0.795      -0.051       0.039
R_avg_TD_att                0.0197      0.047      0.416      0.678      -0.073       0.113
R_avg_opp_SIG_STR_pct      -0.1705      0.281     -0.607      0.544      -0.724       0.383
R_avg_opp_CLINCH_landed    -0.0125      0.011     -1.187      0.236      -0.033       0.008
R_avg_TD_pct                0.2031      0.219      0.928      0.354      -0.228       0.634
B_avg_opp_TD_att           -0.0034      0.022     -0.159      0.874      -0.046       0.039
==============================================================================
Omnibus:                        6.295   Durbin-Watson:                   1.955
Prob(Omnibus):                  0.043   Jarque-Bera (JB):                4.320
Skew:                          -0.166   Prob(JB):                        0.115
Kurtosis:                       2.468   Cond. No.                     5.33e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

____
## Predição do modelo

___
## Conclusão

   ___
## Aperfeiçoamento:

   ___
## Referências

[Como usar a biblioteca Scikit-lear](https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression)

[Como funciona o Random Forest](https://towardsdatascience.com/understanding-random-forest-58381e0602d2)

[Referencia do Random Forest Classifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

[Como funciona regressão linear](https://www.saedsayad.com/logistic_regression.htm)

[Como usar a Regressão Linear](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)

In [302]:
#criando um novo dataframe
lista_locB = ["B_fighter", "weight_class","B_Height_cms","B_Reach_cms","B_Weight_lbs","B_age"]
lista_locR = ["R_fighter", "weight_class","R_Height_cms","R_Reach_cms","R_Weight_lbs","R_age"]
data_red = data2.loc[: , lista_locR]
data_blue = data2.loc[: , lista_locB]

data_blue.columns = ["Fighter","Weight_class","Height_cms","Reach_cms","Weight_lbs","Age"]
data_red.columns = ["Fighter","Weight_class","Height_cms","Reach_cms","Weight_lbs","Age"]

data_red.head(2)

,Fighter,Weight_class,Height_cms,Reach_cms,Weight_lbs,Age
0,Henry Cejudo,Bantamweight,162.56,162.56,135.0,32.0
1,Valentina Shevchenko,Women's Flyweight,165.10,167.64,125.0,31.0

In [303]:
newdataR = pd.DataFrame()


namelistR = []

for n in range(0,5143):
    if data_red.loc[n,:]["Fighter"] not in namelistR:
        namelistR.append(data_red.loc[n,:]["Fighter"])
        newdataR = pd.concat([newdataR,data_red.loc[n,:]], axis=1, join='outer')

newdataR = newdataR.transpose()

newdataR.head(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

  Age               Fighter Height_cms Reach_cms       Weight_class Weight_lbs
0  32          Henry Cejudo     162.56    162.56       Bantamweight        135
1  31  Valentina Shevchenko      165.1    167.64  Women's Flyweight        125

In [304]:
newdataB = pd.DataFrame()

namelistB = []

for n in range(0,5143):
    if data_blue.loc[n,:]["Fighter"] not in namelistB:
        namelistB.append(data_blue.loc[n,:]["Fighter"])
        newdataB = pd.concat([newdataB,data_blue.loc[n,:]], axis=1, join='outer')

newdataB = newdataB.transpose()

newdataB.head(2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  Age        Fighter Height_cms Reach_cms       Weight_class Weight_lbs
0  31  Marlon Moraes     167.64    170.18       Bantamweight        135
1  32    Jessica Eye     167.64    167.64  Women's Flyweight        125

In [305]:
newdata = pd.concat([newdataB, newdataR], axis=0, join='outer', ignore_index=False, keys=None,levels=None, names=None, verify_integrity=False, copy=True)
newdata = newdata.set_index("Fighter")

newdata.head(2)

              Age Height_cms Reach_cms       Weight_class Weight_lbs
Fighter
Marlon Moraes  31     167.64    170.18       Bantamweight        135
Jessica Eye    32     167.64    167.64  Women's Flyweight        125